<!-- Header Start -->
<div class="container-fluid img-fluid px-0 mb-5 my-container">
  <img src="../../../assets/about us_bg.png" class="img-responsive img-fluid img-header" />

  <div class="row align-do pad-tops">
    <div class="col-md-11 col-sm-12 text-center text-lg-lefts pt-4">
      <h1 class="display-4 font-weight-bold text-white pb-3 h3-space display">
        Contact Us
      </h1>
      <p class="text-white mb-4 p-text pt-2">
        Sea ipsum kasd eirmod kasd magna, est sea et diam ipsum est amet sed
        sit....
      </p>

      <!-- <button class="mt-1 py-1 px-3  contact-btn pt-2 mb-5">SIGN UP</button>  -->
    </div>

  </div>
</div>

<!-- Header End -->

<!-- Contact Start -->
<div class="container-fluid sapce-cancel">
  <div class="container my-card card">
    <div class="text-center pb-2">


    </div>
    <div class="row space-row">
      <div class="col-lg-5 mb-3 para-div">
        <h4 class="mbs mb-4 pt-5 text-para">We are here to empower you</h4>
        <p class="p-text mbs">
          Labore sea amet kasd diam justo amet ut vero justo. Ipsum ut et
          kasd duo sit, ipsum sea et erat est dolore, magna ipsum et magna
          elitr. Accusam accusam lorem magna, eos et sed eirmod dolor est
          eirmod eirmod amet.
        </p>
        <div class="d-flex pt-4">
          <i style="width: 45px; height: 45px"
            class="d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512">
              <path
                d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
            </svg>
          </i>

          <div class="pl-3 ">
            <h6>Address</h6>
            <p class="p-text">123 Street, New York, USA</p>
          </div>
        </div>
        <div class="line"></div>
        <div class="d-flex pt-4">
          <i style="width: 45px; height: 45px"
            class="d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle"><svg
              xmlns="http://www.w3.org/2000/svg" height="16" width="16"
              viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
            </svg></i>
          <div class="pl-3">
            <h6>Email</h6>
            <p class="p-text">info@example.com</p>
          </div>
        </div>
        <div class="line"></div>
        <div class="d-flex pt-4">
          <i style="width: 45px; height: 45px"
            class="d-inline-flex align-items-center justify-content-center bg-primary text-secondary rounded-circle">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
              <path
                d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z" />
            </svg>
          </i>
          <div class="pl-3">
            <h6>Phone</h6>
            <p class="p-text">+012 345 67890</p>
          </div>
        </div>

      </div>
      <div class="col-lg-6 mb-5 pt-5 col-md-12">
        <div class="card contact-form col-md-12">
          <form name="sentMessage" id="contactForm" novalidate="novalidate" class="col-lg-12 pt-5 col-sm-12 col-md-12">
            <div class="control-group">
              <input type="text" class="form-control" id="name" placeholder="First Name" required="required"
                data-validation-required-message="Please enter your name" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input type="text" class="form-control" id="name" placeholder="Last Name" required="required"
                data-validation-required-message="Please enter your name" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input type="text" class="form-control" id="email" placeholder="Phone number" required="required"
                data-validation-required-message="Please enter your email" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input type="email" class="form-control" id="subject" placeholder="Email" required="required"
                data-validation-required-message="Please enter a subject" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <textarea class="form-control" rows="6" id="message" placeholder="Description" required="required"
                data-validation-required-message="Please enter your message"></textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div class="form-group form-check control-group">
 
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I'm not robot</label>

                <img class="captcha" src="../../../assets/captcha.png" alt="captcha">

              </div>
            <div>
              <button class="btn-infos py-2 px-4 mb-3" type="submit" id="sendMessageButton">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->