<!-- Header Start -->
<div class="container-fluid img-fluid px-0 mb-5 my-container">
  <img src="../../../assets/about us_bg.png" class="img-responsive img-fluid img-header" />
  <!-- Navbar Starts -->

  <!-- Navbar Ends -->
  <div class="row align-do pad-tops">
    <div class="col-md-7 col-sm-12 text-center text-lg-left gap-up">
      <h1 class="display-4 font-weight-bold text-white">Playpanda</h1>
      <p class="text-white mb-4 p-text pad-top">
        Sea ipsum kasd eirmod kasd magna, est sea et diam ipsum est amet sed
        sit....
      </p>
      <div class="split pad-top mb-5">
        <a class="allign-btn">
          <svg class="apple-icon" fill="#ffffff" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <g id="7935ec95c421cee6d86eb22ecd114eed">
                <path style="display: inline"
                  d="M248.644,123.476c-5.45-29.71,8.598-60.285,25.516-80.89 c18.645-22.735,50.642-40.17,77.986-42.086c4.619,31.149-8.093,61.498-24.826,82.965 C309.37,106.527,278.508,124.411,248.644,123.476z M409.034,231.131c8.461-23.606,25.223-44.845,51.227-59.175 c-26.278-32.792-63.173-51.83-97.99-51.83c-46.065,0-65.542,21.947-97.538,21.947c-32.96,0-57.965-21.947-97.866-21.947 c-39.127,0-80.776,23.848-107.19,64.577c-9.712,15.055-16.291,33.758-19.879,54.59c-9.956,58.439,4.916,134.557,49.279,202.144 c21.57,32.796,50.321,69.737,87.881,70.059c33.459,0.327,42.951-21.392,88.246-21.616c45.362-0.258,53.959,21.841,87.372,21.522 c37.571-0.317,67.906-41.199,89.476-73.991c15.359-23.532,21.167-35.418,33.11-62.023 C414.435,352.487,389.459,285.571,409.034,231.131z">
                </path>
              </g>
            </g>
          </svg>
          <div class="allign-texts ">
            <span>Get it from</span>
            <h6 class="pals">Apple Store</h6>
          </div>
        </a>

        <a class="allign-btn">
          <svg viewBox="-29.45 0 466.9 466.9" id="Layer_1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <style>
                .st0 {
                  fill: url(#SVGID_1_);
                }

                .st1 {
                  fill: url(#SVGID_2_);
                }

                .st2 {
                  fill: url(#SVGID_3_);
                }

                .st3 {
                  fill: url(#SVGID_4_);
                }
              </style>
              <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" y1="112.094" x2="261.746" y2="112.094">
                <stop offset="0" stop-color="#63be6b"></stop>
                <stop offset=".506" stop-color="#5bbc6a"></stop>
                <stop offset="1" stop-color="#4ab96a"></stop>
              </linearGradient>
              <path class="st0"
                d="M261.7 142.3L15 1.3C11.9-.5 8-.4 5 1.4c-3.1 1.8-5 5-5 8.6 0 0 .1 13 .2 34.4l179.7 179.7 81.8-81.8z">
              </path>
              <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1=".152" y1="223.393" x2="179.896"
                y2="223.393">
                <stop offset="0" stop-color="#3ec6f2"></stop>
                <stop offset="1" stop-color="#45afe3"></stop>
              </linearGradient>
              <path class="st1" d="M.2 44.4C.5 121.6 1.4 309 1.8 402.3L180 224.1.2 44.4z"></path>
              <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="179.896" y1="229.464" x2="407.976"
                y2="229.464">
                <stop offset="0" stop-color="#faa51a"></stop>
                <stop offset=".387" stop-color="#fab716"></stop>
                <stop offset=".741" stop-color="#fac412"></stop>
                <stop offset="1" stop-color="#fac80f"></stop>
              </linearGradient>
              <path class="st2"
                d="M402.9 223l-141.2-80.7-81.9 81.8 92.4 92.4L403 240.3c3.1-1.8 5-5.1 5-8.6 0-3.6-2-6.9-5.1-8.7z">
              </path>
              <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="1.744" y1="345.521" x2="272.296"
                y2="345.521">
                <stop offset="0" stop-color="#ec3b50"></stop>
                <stop offset="1" stop-color="#e7515b"></stop>
              </linearGradient>
              <path class="st3"
                d="M1.7 402.3c.2 33.3.3 54.6.3 54.6 0 3.6 1.9 6.9 5 8.6 3.1 1.8 6.9 1.8 10 0l255.3-148.9-92.4-92.4L1.7 402.3z">
              </path>
            </g>
          </svg>
          <div class="new-btn">
            <span class="sapce-store">Get it from</span>
            <h6 class="pal">Play Store</h6>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3   text-center text-lg-right">
      <img class="img-fluid img-phone" src="../../../assets/phone_1.png" alt="" />
    </div>
  </div>
</div>
<!-- Header End -->

<!-- Facilities Start -->
<div class="container-fluid pad-top pb-5">
  <div class="container pb-3 pad-top padding-gap-remover">
    <h2 class="text-correction pb-4">Why Playpanda?</h2>
    <div class="row align-do pad-top">
      <div class="col-lg-4 col-md-6 pb-1">
        <div class="d-flex shadow-sm dashed rounded mb-4" style="padding: 30px">
          <div class="ml-4">
            <h5>Play Ground</h5>
            <p class="m-0 mt-4">
              Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
              lorem amet elitr vero...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div class="d-flex dashed shadow-sm rounded mb-4 pad-top" style="padding: 30px">
          <div class="pl-4">
            <h5>Music and Dance</h5>
            <p class="m-0 mt-4">
              Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
              lorem amet elitr vero...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div class="d-flex shadow-sm dashed rounded mb-4" style="padding: 30px">
          <div class="pl-4">
            <h5>Arts and Crafts</h5>
            <p class="m-0 mt-4">
              Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
              lorem amet elitr vero...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div class="d-flex shadow-sm dashed rounded mb-4" style="padding: 30px">
          <div class="pl-4">
            <h5>Safe Transportation</h5>
            <p class="m-0 mt-4">
              Kasd labore kasd et dolor dolor ut, lorem amet elitr
              vero...Lorrem sjnds and
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div class="d-flex shadow-sm dashed rounded mb-4" style="padding: 30px">
          <div class="pl-4">
            <h5>Healthy food</h5>
            <p class="m-0 mt-4">
              Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
              lorem amet elitr vero...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div class="d-flex shadow-sm dashed rounded mb-4" style="padding: 30px">
          <div class="pl-4">
            <h5>Educational Tour</h5>
            <p class="m-0 mt-4 p-small">
              Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
              lorem amet elitr vero...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Facilities Start -->

<!-- Class Start -->
<div class="container-fluid pad-top apps-colors">

  <div class="container">
    <div class="text-center pb-2">
      <h2 class="mb-4">Key Features Implemented</h2>
      <p class="p-small">
        Lorem ipsum dolor sit amet consectetur adipisicing <br />
        Distinctio, facilis cum? Tenetur ipsum labore maiores praesentium
        laboriosam
      </p>
    </div>
    <div class="row my-cards">
      <div class="col-lg-4 mb-5 my-cards mt-4">
        <div class="pb-2 my-cards">
          <div class="allign-cards">
            <ul class="my-list">
              <li class="icon-round">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
                  <path
                    d="M543.8 287.6c17 0 32-14 32-32.1c1-9-3-17-11-24L512 185V64c0-17.7-14.3-32-32-32H448c-17.7 0-32 14.3-32 32v36.7L309.5 7c-6-5-14-7-21-7s-15 1-22 8L10 231.5c-7 7-10 15-10 24c0 18 14 32.1 32 32.1h32v69.7c-.1 .9-.1 1.8-.1 2.8V472c0 22.1 17.9 40 40 40h16c1.2 0 2.4-.1 3.6-.2c1.5 .1 3 .2 4.5 .2H160h24c22.1 0 40-17.9 40-40V448 384c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v64 24c0 22.1 17.9 40 40 40h24 32.5c1.4 0 2.8 0 4.2-.1c1.1 .1 2.2 .1 3.3 .1h16c22.1 0 40-17.9 40-40V455.8c.3-2.6 .5-5.3 .5-8.1l-.7-160.2h32z" />
                </svg>
              </li>
              <div class="ml-2">
                <h5>Safety</h5>
                <span class="font-span">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit, obcaecati. Odio totam itaque non voluptatem?</span>
              </div>
            </ul>
            <ul class="my-list">
              <li class="icon-round">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
                  <path
                    d="M543.8 287.6c17 0 32-14 32-32.1c1-9-3-17-11-24L512 185V64c0-17.7-14.3-32-32-32H448c-17.7 0-32 14.3-32 32v36.7L309.5 7c-6-5-14-7-21-7s-15 1-22 8L10 231.5c-7 7-10 15-10 24c0 18 14 32.1 32 32.1h32v69.7c-.1 .9-.1 1.8-.1 2.8V472c0 22.1 17.9 40 40 40h16c1.2 0 2.4-.1 3.6-.2c1.5 .1 3 .2 4.5 .2H160h24c22.1 0 40-17.9 40-40V448 384c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v64 24c0 22.1 17.9 40 40 40h24 32.5c1.4 0 2.8 0 4.2-.1c1.1 .1 2.2 .1 3.3 .1h16c22.1 0 40-17.9 40-40V455.8c.3-2.6 .5-5.3 .5-8.1l-.7-160.2h32z" />
                </svg>
              </li>
              <div class="ml-2">
                <h5>Safety</h5>
                <span class="font-span">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit, obcaecati. Odio totam itaque non voluptatem?</span>
              </div>
            </ul>
            <ul class="my-list">
              <li class="icon-round">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
                  <path
                    d="M543.8 287.6c17 0 32-14 32-32.1c1-9-3-17-11-24L512 185V64c0-17.7-14.3-32-32-32H448c-17.7 0-32 14.3-32 32v36.7L309.5 7c-6-5-14-7-21-7s-15 1-22 8L10 231.5c-7 7-10 15-10 24c0 18 14 32.1 32 32.1h32v69.7c-.1 .9-.1 1.8-.1 2.8V472c0 22.1 17.9 40 40 40h16c1.2 0 2.4-.1 3.6-.2c1.5 .1 3 .2 4.5 .2H160h24c22.1 0 40-17.9 40-40V448 384c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v64 24c0 22.1 17.9 40 40 40h24 32.5c1.4 0 2.8 0 4.2-.1c1.1 .1 2.2 .1 3.3 .1h16c22.1 0 40-17.9 40-40V455.8c.3-2.6 .5-5.3 .5-8.1l-.7-160.2h32z" />
                </svg>
              </li>
              <div class="ml-2">
                <h5>Safety</h5>
                <span class="font-span">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit, obcaecati. Odio totam itaque non voluptatem?</span>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="dis">
          <img class="mb-2 img-fluid img-responsive"  src="../../../assets/Mark Availability-phone_ver2.png" alt="" />
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="border-0 pb-2 mt-4">
          <div class="allign-cards">
            <ul class="my-list">
              <li class="icon-round">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
                  <path
                    d="M543.8 287.6c17 0 32-14 32-32.1c1-9-3-17-11-24L512 185V64c0-17.7-14.3-32-32-32H448c-17.7 0-32 14.3-32 32v36.7L309.5 7c-6-5-14-7-21-7s-15 1-22 8L10 231.5c-7 7-10 15-10 24c0 18 14 32.1 32 32.1h32v69.7c-.1 .9-.1 1.8-.1 2.8V472c0 22.1 17.9 40 40 40h16c1.2 0 2.4-.1 3.6-.2c1.5 .1 3 .2 4.5 .2H160h24c22.1 0 40-17.9 40-40V448 384c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v64 24c0 22.1 17.9 40 40 40h24 32.5c1.4 0 2.8 0 4.2-.1c1.1 .1 2.2 .1 3.3 .1h16c22.1 0 40-17.9 40-40V455.8c.3-2.6 .5-5.3 .5-8.1l-.7-160.2h32z" />
                </svg>
              </li>
              <div class="ml-2">
                <h5>Safety</h5>
                <span class="font-span">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit, obcaecati. Odio totam itaque non voluptatem?</span>
              </div>
            </ul>
            <ul class="my-list">
              <li class="icon-round">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
                  <path
                    d="M543.8 287.6c17 0 32-14 32-32.1c1-9-3-17-11-24L512 185V64c0-17.7-14.3-32-32-32H448c-17.7 0-32 14.3-32 32v36.7L309.5 7c-6-5-14-7-21-7s-15 1-22 8L10 231.5c-7 7-10 15-10 24c0 18 14 32.1 32 32.1h32v69.7c-.1 .9-.1 1.8-.1 2.8V472c0 22.1 17.9 40 40 40h16c1.2 0 2.4-.1 3.6-.2c1.5 .1 3 .2 4.5 .2H160h24c22.1 0 40-17.9 40-40V448 384c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v64 24c0 22.1 17.9 40 40 40h24 32.5c1.4 0 2.8 0 4.2-.1c1.1 .1 2.2 .1 3.3 .1h16c22.1 0 40-17.9 40-40V455.8c.3-2.6 .5-5.3 .5-8.1l-.7-160.2h32z" />
                </svg>
              </li>
              <div class="ml-2">
                <h5>Home</h5>
                <span class="font-span">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit, obcaecati. Odio totam itaque non voluptatem?</span>
              </div>
            </ul>
            <ul class="my-list">
              <li class="icon-round">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
                  <path
                    d="M543.8 287.6c17 0 32-14 32-32.1c1-9-3-17-11-24L512 185V64c0-17.7-14.3-32-32-32H448c-17.7 0-32 14.3-32 32v36.7L309.5 7c-6-5-14-7-21-7s-15 1-22 8L10 231.5c-7 7-10 15-10 24c0 18 14 32.1 32 32.1h32v69.7c-.1 .9-.1 1.8-.1 2.8V472c0 22.1 17.9 40 40 40h16c1.2 0 2.4-.1 3.6-.2c1.5 .1 3 .2 4.5 .2H160h24c22.1 0 40-17.9 40-40V448 384c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v64 24c0 22.1 17.9 40 40 40h24 32.5c1.4 0 2.8 0 4.2-.1c1.1 .1 2.2 .1 3.3 .1h16c22.1 0 40-17.9 40-40V455.8c.3-2.6 .5-5.3 .5-8.1l-.7-160.2h32z" />
                </svg>
              </li>
              <div class="ml-2">
                <h5>Travel</h5>
                <span class="font-span">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Velit, obcaecati. Odio totam itaque non voluptatem?</span>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Class End -->

<!-- About Start -->
<div class="container-fluid py-5 padding-gap-remover">
  <div class="container pad-top">
    <h2 class="mb-4 text-correction pb-5">
      Create Best Activities For Your Child
    </h2>
    <div class="row align-items-center align-do pad-top">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-5 mb-lg-0" src="../../../assets/image_1.png" alt="" />
      </div>

      <div class="col-lg-6 pl-2">
        <p class="ptext">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
          sequi cumque, quas debitis quo pariatur perspiciatis nam, harum
          voluptas similique illum dolores veniam. Reprehenderit assumenda
          sunt corrupti, ratione eius nihil odio esse. Quod non voluptates
          veniam ducimus facilis cumque sequi
        </p>

        <p class="ptext">
          corrupti, quis provident repellendus nisi dolorum dolorem hic
          eveniet. Accusantium, fugit! Temporibus corporis repudiandae
          distinctio unde dolor vero obcaecati. Quasi vel voluptates hic
          blanditiis ipsam pariatur at ipsum iure, nesciunt autem, dolores
          necessitatibus accusamus provident quam nemo deleniti
        </p>
      </div>
    </div>
  </div>
</div>
<!-- About End -->


<!-- About Start -->
<div class="container-fluid py-5 padding-gap-remover">
  <div class="container pad-top">
    <h2 class="mb-4 text-correction pb-5">
      How It Works
    </h2>
    <div class="row align-items-center align-do">
      <div class="col-lg-4" style="display: flex;justify-content: center;">
        <img class="img-fluid rounded mb-5 mb-lg-0 working-imgs" src="../../../assets/Mark Availability-phone.png"
          alt="" />
      </div>

      <div class="col-lg-6 pl-2">
        <p class="ptexts">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
          sequi cumque, quas debitis quo pariatur perspiciatis nam, harum
          voluptas similique illum dolores veniam. Reprehenderit assumenda
          sunt corrupti, ratione eius nihil odio esse. Quod non voluptates
          veniam ducimus facilis cumque sequi
        </p>

        <p class="ptexts">
          corrupti, quis provident repellendus nisi dolorum dolorem hic
          eveniet. Accusantium, fugit! Temporibus corporis repudiandae
          distinctio unde dolor vero obcaecati. Quasi vel voluptates hic
          blanditiis ipsam pariatur at ipsum iure, nesciunt autem, dolores
          necessitatibus accusamus provident quam nemo deleniti
        </p>
      </div>
    </div>
  </div>
</div>
<!-- About2 End -->

<!-- About Start -->
<div class="container-fluid py-5 padding-gap-remover">
  <div class="container pad-top">
    <div class="row align-items-center align-dos">
      <div class="col-lg-4" style="display: flex;justify-content: center;">
        <img class="img-fluid rounded mb-5 mb-lg-0 working-imgs" src="../../../assets/Home_phone.png" alt="" />
      </div>
      <div class="col-lg-6 pl-2">
        <p class="ptexts">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
          sequi cumque, quas debitis quo pariatur perspiciatis nam, harum
          voluptas similique illum dolores veniam. Reprehenderit assumenda
          sunt corrupti, ratione eius nihil odio esse. Quod non voluptates
          veniam ducimus facilis cumque sequi
        </p>

        <p class="ptexts">
          corrupti, quis provident repellendus nisi dolorum dolorem hic
          eveniet. Accusantium, fugit! Temporibus corporis repudiandae
          distinctio unde dolor vero obcaecati. Quasi vel voluptates hic
          blanditiis ipsam pariatur at ipsum iure, nesciunt autem, dolores
          necessitatibus accusamus provident quam nemo deleniti
        </p>
      </div>



    </div>
  </div>
</div>
<!-- About3 End -->

<!-- About Start -->
<div class="container-fluid py-5 padding-gap-remover">
  <div class="container pad-top">
    <div class="row align-items-center align-do">
      <div class="col-lg-4" style="display: flex;justify-content: center;">
        <img class="img-fluid rounded mb-5 mb-lg-0 working-imgs" src="../../../assets/Childs profile-phone.png"
          alt="" />
      </div>

      <div class="col-lg-6 pl-2">
        <p class="ptexts">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
          sequi cumque, quas debitis quo pariatur perspiciatis nam, harum
          voluptas similique illum dolores veniam. Reprehenderit assumenda
          sunt corrupti, ratione eius nihil odio esse. Quod non voluptates
          veniam ducimus facilis cumque sequi
        </p>

        <p class="ptexts">
          corrupti, quis provident repellendus nisi dolorum dolorem hic
          eveniet. Accusantium, fugit! Temporibus corporis repudiandae
          distinctio unde dolor vero obcaecati. Quasi vel voluptates hic
          blanditiis ipsam pariatur at ipsum iure, nesciunt autem, dolores
          necessitatibus accusamus provident quam nemo deleniti
        </p>
      </div>
    </div>
  </div>
</div>
<!-- About4 End -->

<!-- About Start -->
<div class="container-fluid py-5 padding-gap-remover">
  <div class="container pad-top">
    <div class="row align-items-center align-dos">
      <div class="col-lg-4" style="display: flex;justify-content: center;">
        <img class="img-fluid rounded mb-5 mb-lg-0 working-imgs" src="../../../assets/Past activities-phone.png"
          alt="" />
      </div>
      <div class="col-lg-6 pl-2">
        <p class="ptexts">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
          sequi cumque, quas debitis quo pariatur perspiciatis nam, harum
          voluptas similique illum dolores veniam. Reprehenderit assumenda
          sunt corrupti, ratione eius nihil odio esse. Quod non voluptates
          veniam ducimus facilis cumque sequi
        </p>

        <p class="ptexts">
          corrupti, quis provident repellendus nisi dolorum dolorem hic
          eveniet. Accusantium, fugit! Temporibus corporis repudiandae
          distinctio unde dolor vero obcaecati. Quasi vel voluptates hic
          blanditiis ipsam pariatur at ipsum iure, nesciunt autem, dolores
          necessitatibus accusamus provident quam nemo deleniti
        </p>
      </div>



    </div>
  </div>
</div>
<!-- About5 End -->


<!-- Team Start -->
<h3 class="mb-2 text-correction padding-gap-remover py-2 pb-4">
  Number Of Downloads
</h3>
<div class="container-fluid pic-container">
  <div class="allign-column">
    <img src="../../../assets/download.png" alt="" />
    <h5>450+ <span class="pic-text">Downloads</span></h5>
  </div>
  <div class="allign-column">
    <img src="../../../assets/followers.png" alt="" />
    <h5>562+ <span class="pic-text">Followers</span></h5>
  </div>
  <div class="allign-column">
    <img src="../../../assets/students.png" alt="" />
    <h5>343+ <span class="pic-text">Students</span></h5>
  </div>
  <div class="allign-column">
    <img src="../../../assets/activities.png" alt="" />
    <h5>559+ <span class="pic-text">Activities</span></h5>
  </div>
</div>
<!-- Team End -->

<!-- Blog Start -->
<div class="container-fluid pad-top">
  <div class="container pad-top img-containers">
    <div class="text-center pb-2">
      <h3 class="padding-gap-remover pad-top">Find Your Child's Interest</h3>
    </div>
    <div class="row pb-4 pad-top">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="cardmb-2">
          <img class="card-img-top mb-2 fit" src="../../../assets/IMG_5282.jpg" alt="" />
          <h5 style="text-align: center">Music</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="cardmb-2">
          <img class="card-img-top mb-2 fit" src="../../../assets/dance-class.jpg" alt="" />

          <h5 style="text-align: center">Dance</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="cardmb-2">
          <img class="card-img-top mb-2 fit"
            src="../../../assets/How-to-Plan-the-Best-Hotel-Swimming-Pool-Party-for-Kids.jpg" alt="" />

          <h5 style="text-align: center">Swimming</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="cardmb-2">
          <img class="card-img-top mb-2 fit" src="../../../assets/Easy-Craft-ideas-for-kids-d6c8148.jpg" alt="" />

          <h5 style="text-align: center">Art</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="cardmb-2">
          <img class="card-img-top mb-2 fit" src="../../../assets/Ride-Without-Training-Wheels-3.jpg" alt="" />

          <h5 style="text-align: center">Play</h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="cardmb-2">
          <img class="card-img-top mb-2 fit" src="../../../assets/img/blog-3.jpg" alt="" />

          <h5 style="text-align: center">Learn</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog End -->

<!-- have a question -->
<div class="container-fluid pic-container2 bg" >
  <div class="container">
  <div class="allign-column">
    <h5>Have A Question?</h5>
    <p class="pb-3">Lorem sgf ksdfjk dsd khhd ipsum dolor sit amet consectetur adipisicing elit. Laborum, saepe necessitatibus! Eligendi ducimus pariatur alias, ullam dicta eveniet</p>

    <!-- <div style="padding-top: 10px;"> -->
      <button class="btn btn-primary text-center">Let's Talk</button>
    <!-- </div> -->
  </div>
</div>
</div>

<!-- Testimonial Start -->
<div class="container-fluid py-5">
  <div class="container p-0 carouse-container">
    <div class="text-center pb-2">
      <h1 class="mb-4">App Screens</h1>

      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="testimonial-item px-3">
            <div class="bg-light sshadow-sm rounded mb-4 p-4">
              <img src="../../../assets/Home_2.png" />
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-item px-3">
            <div class="bg-light sshadow-sm rounded mb-4 p-4">
              <img src="../../../assets/13 Childs profile_activities.png" />
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-item px-3">
            <div class="bg-light sshadow-sm rounded mb-4 p-4">
              <img src="../../../assets/1Chat_friends list.png" alt="" />
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-item px-3">
            <div class="bg-light sshadow-sm rounded mb-4 p-4">
              <img src="../../../assets/Home (4).png" alt="" />
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-item px-3">
            <div class="bg-light sshadow-sm rounded mb-4 p-4">
              <img class="img-px" src="../../../assets/6 Availability Chat.png" alt="" />
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="testimonial-item px-3">
            <div class="bg-light rounded mb-4 p-4">
              <img src="../../../assets/5.1Childs profile.png" alt="" />
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>


<!-- Testimonial End -->