<nav class="navbar navbar-expand-lg navbar-light py-2 py-lg-0 sticky-top">
  <a
    class="navbar-brand font-weight-bold text-secondary"
  >
    <img
      src="../../assets/app icon.png"
      height="40px"
      width="40px"
      class="img-padding"
    />
    <span class="header-text">Playpanda</span>
  </a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-between"
    id="navbarCollapse"
  >
    <div class="navbar-nav font-weight-bold ml-auto py-0 px-4 drop-div mr-5">
      <a
        class="nav-item nav-link"
        routerLink="/index/home"
        (click)="closeNav()"
        routerLinkActive="active"
        >Home</a
      >
      <a
        class="nav-item nav-link"
        routerLink="/index/aboutus"
        (click)="closeNav()"
        routerLinkActive="active"
        >About Us</a
      >
      <a
        class="nav-item nav-link"
        routerLink="/index/blog-grid"
        (click)="closeNav()"
        routerLinkActive="active"
        >Blogs</a
      >

      <!-- <a class="nav-item nav-link" routerLink="/index/faq" (click)="closeNav()">FAQ</a> -->
      <a
        class="nav-item nav-link"
        routerLink="/index/contact"
        routerLinkActive="active"
        (click)="closeNav()"
        routerLinkActive="active"
        >Contact Us</a
      >
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>
    <!-- Footer Start -->
 
   
    <!-- Footer End -->
    <!-- Back to Top -->
 

    <button [ngClass]="{'button-scroll-to-top--show': showScroll}"
  (click)="scrollToTop()"
  class="button-scroll-to-top">
  <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M246.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L224 109.3 361.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160zm160 352l-160-160c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L224 301.3 361.4 438.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3z"/></svg>
</button>

    


