.button-scroll-to-top {
  position: fixed;
  opacity: 0;
  transition: all .2s ease-in-out;
  z-index: 1030;
  right: 30px;
  bottom: 30px;
  padding: 10px;
  border: none;
  background-color: #5e256c;
  border-radius: 61%;
  color: white;
  animation-iteration-count: infinite;
  animation: mymove 3s infinite;
  transition: all ease-out;
  svg{
    fill: white !important;
    height: 24px !important;
  }
}

@keyframes mymove {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-80%);
  }

  100% {
    transform: translateY(0%);
  }
}

svg {
  fill: whitesmoke;
  font-size: 50px;
  height: 10px;
  width: 15px;
}

.button-scroll-to-top--show {
  opacity: 1;
}

.icon-svg {
  fill: red;
  width: 60px !important;
  height: 60px !important;
  padding-bottom: 10px;
  padding-left: 10px;
}

.dropdown:hover .dropdown-menu {

  display: block;
  margin-top: 0;
  /* remove the gap so it doesn't close */
}

.dropdown {

  color: black !important;
}

.navbar-light .navbar-nav .nav-link.active {

  color: #ffffff;
}

.footer-svg {
  fill: #F4C2C2;
  margin-top: 1px;
}

.my-span {
  font-size: 34px;
}



.myFooter {
  background-color: #5e256c;
  padding: 30px !important;
}

.header-text {
  font-size: 2.7rem;
  color: #5e256c !important;
  cursor: pointer;
}

.header-text:hover {
  font-size: 2.7rem;
  color: #17a2b8 !important;
}



.h5-text {
  font-weight: 500 !important;
  color: #ffffff;
}

.p-text {
  font-size: 15px;
  padding-left: 5px;
}

.text-primarys {
  color: #f08dbb !important;
}

.svg-allign {
  display: flex;
  margin-bottom: 0px;

  a {
    margin-left: 20px;
  }
}


/**Neq*/
/***** Top menu *****/

/**New */
nav {
  position: sticky;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.header-text {
  font-size: 1.8rem !important;
  color: #5e256c !important;
  cursor:pointer;
}

.header-text:hover {
  color: #17a2b8 !important; 
}


/**New Css*/
div {
  font-family: 'Poppins', sans-serif;
}

.bgset {
  height: 100%;
  width: 100%;

}

.my-container {
  position: relative;
}

.img-header {
  position: absolute;
  width: 100%;
  height: 85%;
}

.drop-div {
  color: black !important;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.size-change {
  font-size: 12px !important;
}

.align-do {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px !important;

  p {
    font-size: 15px;
  }



}

.ptext {
  font-size: 13px !important;
  font-style: italic;
  color: gray;
  word-spacing: 3px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  font-weight: 500;
}


.pic-container {
  display: flex;
  background-color: #F9F9F9;
  //  flex-wrap: wrap;
  padding: 4%;

  img {
    aspect-ratio: 1/0.9;
    width: 70%;
  }

}

nav {
  position: sticky;
  background-color: white;
}

.allign-column {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.pic-text {
  font-size: 16px;
  font-weight: 600;
}



.fit {
  object-fit: cover;
  // height:  40% !important;
  // width: 60%;
  aspect-ratio: 1/1;
  border-radius: 8px;

}

.carouse-container {

  img {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 15px;
  }

}

.sshadow-sm {}

svg {
  height: 30px !important;
  width: 40px !important;
  fill: #17a2b8 !important;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: aqua !important;
}

.lmg-svg {
  height: 20px !important;
  width: 25px !important;
}

.apple-icon {
  fill: white !important;

}

.btn-darks {
  background-color: black;
  color: white;
  // margin: 10px;
  outline: none;
  border: none;
  border-radius: -1%;
  font-size: 12px;

  .btn-text {
    font-size: 17px;

  }

  a {
    margin-left: 20px;
  }

  svg {
    margin: 0px 0px px 10px;
    padding-bottom: 8px;
  }
}



.dashed {
  border: dashed 1px;
  border-radius: 20px !important;
  padding: 50px 10px !important;
}

.downloads {}

.div-box {
  height: 140px;
  width: 160px;
  background-color: white;
  border-radius: 11%;
  box-shadow: rgb(75, 73, 73) 4px 4px 20px;
  box-shadow: inset 0 0 2px 0 grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.no-img {
  position: relative;
}

.font-span {
  font-size: 10px;
}

.my-list {
  display: flex;
  background-color: #F9F9F9;
  border: none;

  h5 {
    margin-left: 7%;
  }

  .my-cards {
    background-color: #F9F9F9;
    ;
  }

}

.ss-size {

  height: 85% !important;
}

.allign-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F9F9F9;
  gap: 15px 0px;
}

.align-do {
  margin: 0px !important;

  p {
    word-spacing: 3.5;
    letter-spacing: 0.7;
    font-size: 15px;
    color: gray;
  }
}

.icon-round {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: skyblue !important;
    margin: auto !important;
  }
}

.apps-colors {
  background-color: #F9F9F9;
}

.gold-svg {
  fill: gold !important;
  height: 40px !important;
  width: 40px !important;
}

.icon-text {
  color: black !important;
  text-align: center;

  span {
    font-weight: 400;
  }
}

.split {
  display: flex;
  // justify-content: space-evenly;


}

.allign-texts {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: space-between;
}

.allign-btn {
  display: flex;
  align-items: center;
  // justify-content: s;
  background-color: black;
  border-radius: 50px;
  // width: 20%;
  // height: 20% !important;
  padding: 5px 12px;
  // margin-left: 25px !important;

  span {
    color: white;
    font-size: 12px;
    margin: 0px 20px 0px 7px;

  }

  h6 {
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding-top: 5px;
    margin-left: 5px;

  }
}

.active {
  color: #5e256c !important;
  transition: 0.5s ease-in;

}

.img-padding {
  margin-left: 25px;
  margin-right: 12px;
  margin-top: 0px;
}

p,
span {
  font-size: 14px !important;
}


.active {

  // color: rgb(139, 135, 179) !important; /* Set your desired styles for the active link */

}

.text-end {
  text-align: end;
}

.header-text {
  font-size: 1.6rem !important;
  color: #5e256c !important;
  cursor: pointer;
}


.header-text:hover {
  color: #17a2b8 !important;

}

@media(max-width : 768px) {

  h2 {
    font-size: 1.5rem !important;
  }

  h5 {
    font-size: 1.1rem !important;

  }

  .padding-gap-remover {
    padding-top: 20px;
  }

  p {
    font-size: 12px !important;
  }

  .gap-up {
    position: relative;
  }

  .sapce-store {
    padding-left: 10px !important;
  }

  .display-4 {
    // display: none;
  }

  .img-padding {
    margin-left: 0px;
  }

  .header-text {
    font-size: 1.5rem;
    color: #5e256c !important;
    cursor:pointer
  }
  
  .header-text:hover {
    color: #17a2b8 !important;
  }

  .allign-btn {
    padding: 3px 9px !important;
  }

  .pic-container {
    flex-wrap: wrap;
  }

  .img-header {
    position: absolute;
    height: 100%;
  }

  .box-allign {
    display: flex !important;
    justify-content: end !important;
    align-items: end !important;
  }

  .img-phone {
    display: none;
  }

  .display-3 {
    font-size: 22px;
  }

  .p-text {
    font-size: 14px;
  }

  .split {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;

  }

  .navbar-nav {
    display: none;
  }

  .dropdown-menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    left: 500px;
    top: 60px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }

}
.dropdown-menu {
  display: none;
  // transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  // transition: all 0.5s ease;
  animation: moveToLeft 5s linear infinite;
  animation-delay: 1000ms;
  
}

// .nav-item .nav-link{
//   color: black ;
//   }
.nav-link.active {
  color: purple;
}

.parent-div{
  position: relative;

}

@media (min-width:909px) and (max-width: 991px) {
  .navbar-nav {
    display: none;
  }

  .tog-icon{
    border: none;
    // transition: transform 0.3s ease;
  }
  .tog-icon svg {
    fill: #98afb5 !important;
    transition: transform 10s ease; 
    transform: rotate(180deg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);/* Smooth transition for the transform property */
  }

  .tog-icon svg.show {
 
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; /* Adjust the transformation as needed */
  }
    .dropdown-menu {
    background-color: #ffffff;
    position: absolute;
    left: 80%; /* Center the menu horizontally */
    width: 180px;
    top: 60px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    font-weight: bolder;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  
  }
  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }

}
@media (min-width:839px) and (max-width: 909px) {
  .navbar-nav {
    display: none;
  }

  .tog-icon{
    border: none;
    // transition: transform 0.3s ease;
  }
  .tog-icon svg {
    fill: #98afb5 !important;
    transition: transform 10s ease; 
    transform: rotate(180deg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);/* Smooth transition for the transform property */
  }

  .tog-icon svg.show {
 
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; /* Adjust the transformation as needed */
  }
    .dropdown-menu {
    background-color: #ffffff;
    position: absolute;
    left: 75%; /* Center the menu horizontally */
    width: 180px;
    top: 60px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    font-weight: bolder;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  
  }
  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }

}
@media (min-width:768px) and (max-width: 839px) {
  .navbar-nav {
    display: none;
  }

  .tog-icon{
    border: none;
    // transition: transform 0.3s ease;
  }
  .tog-icon svg {
    fill: #98afb5 !important;
    transition: transform 10s ease; 
    transform: rotate(180deg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);/* Smooth transition for the transform property */
  }

  .tog-icon svg.show {
 
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; /* Adjust the transformation as needed */
  }
    .dropdown-menu {
    background-color: #ffffff;
    position: absolute;
    left: 75%; /* Center the menu horizontally */
    width: 180px;
    top: 60px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    font-weight: bolder;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  
  }
  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }

}
@media (min-width: 695px) and (max-width: 768px) {
  .navbar-nav {
    display: none;
  }

  .tog-icon{
    border: none;
    // transition: transform 0.3s ease;
  }
  .tog-icon svg {
    fill: #98afb5 !important;
    transition: transform 10s ease; 
    transform: rotate(180deg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);/* Smooth transition for the transform property */
  }

  .tog-icon svg.show {
 
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; /* Adjust the transformation as needed */
  }
    .dropdown-menu {
    background-color: #ffffff;
    position: absolute;
    left: 70%; /* Center the menu horizontally */
    // transform: translateX(-50%); 
    width: 180px;
    top: 60px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    font-weight: bolder;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  
  }
  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }

}
@media (min-width:512px) and (max-width: 695px) {
  .navbar-nav {
    display: none;
  }

  .tog-icon{
    border: none;
    // transition: transform 0.3s ease;
  }
  .tog-icon svg {
    fill: #98afb5 !important;
    transition: transform 10s ease; 
    transform: rotate(180deg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);/* Smooth transition for the transform property */
  }

  .tog-icon svg.show {
 
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; /* Adjust the transformation as needed */
  }
    .dropdown-menu {
    background-color: #ffffff;
    position: absolute;
    left: 63%;/* Center the menu horizontally */
    // transform: translateX(-50%); 
    width: 180px;
    top: 60px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    font-weight: bolder;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  
  }
  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }

}
@media (min-width:425px) and (max-width:512px) {
  .navbar-nav {
    display: none;
  }

  .tog-icon{
    border: none;
    padding: 0;
  }



  .dropdown-menu {
    font-weight: bolder;
    display: block;
    background-color: #ffffff;
    position: absolute;
    left: 48%; /* Center the menu horizontally */
    // transform: translateX(-50%);
    width: 185px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  }

  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }

  // @keyframes moveToLeft {
  //   1% {
  //     transform: scale(1);
  //     // transform: translate(5px, 0px);
  //    }
  //    100% {
  //     transform: scale(1);
  //    }

  // }
}
@media (min-width:403px) and (max-width:425px) {
  .navbar-nav {
    display: none;
  }

  .tog-icon{
    border: none;
    padding: 0;
  }



  .dropdown-menu {
    font-weight: bolder;
    display: block;
    background-color: #ffffff;
    position: absolute;
    left: 53%; /* Center the menu horizontally */
    // transform: translateX(-50%);
    width: 185px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  }

  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }

  // @keyframes moveToLeft {
  //   1% {
  //     transform: scale(1);
  //     // transform: translate(5px, 0px);
  //    }
  //    100% {
  //     transform: scale(1);
  //    }

  // }
}
@media (min-width:375px) and (max-width:403px) {
  .navbar-nav {
    display: none;
  }


  .tog-icon{
    border: none;
    padding: 0;
  }
  
  .dropdown-menu {
    font-weight: bolder;
    display: block;
    background-color: #ffffff;
    position: absolute;
    left: 49%; /* Center the menu horizontally */
    // transform: translateX(-50%);
    top: 60px;
    width: 180px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  }
  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }


  @keyframes moveToLeft {
    1% {
      transform: scale(1);
      // transform: translate(5px, 0px);
     }
     100% {
      transform: scale(1);
     }

  }
}
@media (min-width:356px) and (max-width:375px) {
  .navbar-nav {
    display: none;
  }

  .tog-icon{
    border: none;
    padding: 0;
  }

  .dropdown-menu {
    font-weight: bolder;
    display: block;
    background-color: #ffffff;
    position: absolute;
        left: 48%;/* Center the menu horizontally */
    top: 60px;
    width: 185px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  }

  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }

  // @keyframes moveToLeft {
  //   1% {
  //     transform: scale(1);
  //     // transform: translate(5px, 0px);
  //    }
  //    100% {
  //     transform: scale(1);
  //    }

  // }
}
@media (min-width:345px) and (max-width:356px) {
  .navbar-nav {
    display: none;
  }

  .tog-icon{
    border: none;
    padding: 0;
  }

  .dropdown-menu {
    font-weight: bolder;
    display: block;
    background-color: #ffffff;
    position: absolute;
     left: 40%;/* Center the menu horizontally */
    // transform: translateX(-50%);
    top: 60px;
    width: 185px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  }

  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }

  // @keyframes moveToLeft {
  //   1% {
  //     transform: scale(1);
  //     // transform: translate(5px, 0px);
  //    }
  //    100% {
  //     transform: scale(1);
  //    }

  // }
}
@media (min-width:334px) and (max-width:345px) {
  .navbar-nav {
    display: none;
  }


  .tog-icon{
    border: none;
    padding: 0;
  }
  
  .dropdown-menu {
    font-weight: bolder;
    display: block;
    background-color: #ffffff;
    position: absolute;
    left: 46%; /* Center the menu horizontally */
    // transform: translateX(-50%);
    top: 60px;
    width: 180px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  }
  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }


  @keyframes moveToLeft {
    1% {
      transform: scale(1);
      // transform: translate(5px, 0px);
     }
     100% {
      transform: scale(1);
     }

  }
}
@media (min-width:320px) and (max-width:334px) {
  .navbar-nav {
    display: none;
  }


  .tog-icon{
    border: none;
    padding: 0;
  }
  
  .dropdown-menu {
    font-weight: bolder;
    display: block;
    background-color: #ffffff;
    position: absolute;
    left: 38%; /* Center the menu horizontally */
    // transform: translateX(-50%);
    top: 60px;
    width: 180px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  }
  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }


  @keyframes moveToLeft {
    1% {
      transform: scale(1);
      // transform: translate(5px, 0px);
     }
     100% {
      transform: scale(1);
     }

  }
}
@media only screen and (max-width:320px) {
  .navbar-nav {
    display: none;
  }


  .tog-icon{
    border: none;
    padding: 0;
  }
  
  .dropdown-menu {
    font-weight: bolder;
    display: block;
    background-color: #ffffff;
    position: absolute;
    left: 42%; /* Center the menu horizontally */
    top: 60px;
    width: 180px;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s cubic-bezier(.4, 0, .6, 1), visibility 0s linear 0.8s, color 0.6s cubic-bezier(.4, 0, .6, 1);
  }
  .dropdown-menu.show {
    opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      color:rgb(252, 145, 145);
  }


  @keyframes moveToLeft {
    1% {
      transform: scale(1);
      // transform: translate(5px, 0px);
     }
     100% {
      transform: scale(1);
     }

  }
}