<!-- Header Start -->
<div class="container-fluid img-fluid px-0 mb-5 my-container">
    <img src="../../../assets/header_bg.png" class="img-responsive img-fluid img-header"/>
    <!-- Navbar Starts -->
<nav
class="navbar navbar-expand-lg navbar-light py-4 py-lg-0 "
>
<a
class="navbar-brand font-weight-bold text-secondary"
style="font-size: 50px"
>
<img src="../../assets/app icon.png" height="50px" width="50px"/>
<span class="header-text text-white">Play Panda</span>
</a>
<button
type="button"
class="navbar-toggler"
data-toggle="collapse"  
data-target="#navbarCollapse"

>
<span class="navbar-toggler-icon"></span>
</button>
<div
class="collapse navbar-collapse justify-content-between"
id="navbarCollapse"

>
<div class="navbar-nav font-weight-bold ml-auto  py-0 px-4 drop-div">
  <a class="nav-item nav-link" routerLink="/index/home" (click)="closeNav()">Home</a>
  <a class="nav-item nav-link" routerLink="/index/aboutus" (click)="closeNav()">About Us</a>
  <a class="nav-item nav-link" routerLink="/index/blog-grid" (click)="closeNav()">Blog</a>
  
  <a class="nav-item nav-link" routerLink="/index/faq" (click)="closeNav()">FAQ</a>
  <a class="nav-item nav-link" routerLink="/index/contact" (click)="closeNav()">Contact</a>
</div>
</div>
</nav> 
<!-- Navbar Ends -->
      </div>
<!-- Header End -->
    
