<!-- Header Start -->
<div class=" px-0 my-container">
  <!-- <img
    src="../../../assets/about us_bg_2.png"
    class="img-responsive img-header"
  /> -->
  <img
  src="../../../assets/about us_bg.png"
  class="img-responsive img-header"
/>
  <!-- Navbar Starts -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light py-4 py-lg-0">
    <a
      class="navbar-brand font-weight-bold text-secondary"
      style="font-size: 50px"
    >
      <img src="../../assets/app icon.png" height="50px" width="50px" class="img-padding"/>
      <span class="header-text text-white">Playpanda</span>
    </a>
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarCollapse"
    >
      <div class="navbar-nav font-weight-bold ml-auto py-0 mr-5 px-4 drop-div">
        <a
          class="nav-item nav-link"
          routerLink="/index/home"
          (click)="closeNav()"
          routerLinkActive="active"
          >Home</a
        >
        <a
        class="nav-item nav-link"
        routerLink="/index/aboutus"
        (click)="closeNav()"
        routerLinkActive="active"
        >About Us</a
      >
        <a
          class="nav-item nav-link"
          routerLink="/index/blog-grid"
          (click)="closeNav()"
          routerLinkActive="active"
          >Blog</a
        >
        <a
          class="nav-item nav-link"
          routerLink="/index/contact"
          (click)="closeNav()"
          routerLinkActive="active"
          >Contact</a
        >
      </div>
    </div>
  </nav> -->
  <div class="row align-do pad-tops">
    <div class="col-md-5 col-sm-12 text-center text-lg-left text-end pb-5 ">
      <h1 class="text-white header-txt mb-4 display">
        We are there for<br />
        your child !
      </h1>
      <p class="mb-4 p-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit
      </p>
      <button class="exp-btn mb-4">
        EXPLORE
        <svg class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="fill:#ffffff" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg>
       
      </button>
     
    </div>
    <div class="col-md-5 mr-3 text-center text-lg-right img-hide ">
      <img
        class="img-fluid img-phone pt-5"
        src="../../../assets/about us_bg_3.png"
        alt=""
      />
    </div>
  </div>
</div>

<!-- Navbar Ends -->

<!-- Header End -->

<!-- Facilities Start -->
<h3 class="text-correction pt-5">Whats Our Goal?</h3>

<div class="container-fluid main-container pt-5">
  <div class="one allign-correction ones">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="16"
      width="16"
      viewBox="0 0 512 512"
    >
      <path
        d="M480 32c0-12.9-7.8-24.6-19.8-29.6s-25.7-2.2-34.9 6.9L381.7 53c-48 48-113.1 75-181 75H192 160 64c-35.3 0-64 28.7-64 64v96c0 35.3 28.7 64 64 64l0 128c0 17.7 14.3 32 32 32h64c17.7 0 32-14.3 32-32V352l8.7 0c67.9 0 133 27 181 75l43.6 43.6c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V300.4c18.6-8.8 32-32.5 32-60.4s-13.4-51.6-32-60.4V32zm-64 76.7V240 371.3C357.2 317.8 280.5 288 200.7 288H192V192h8.7c79.8 0 156.5-29.8 215.3-83.3z"
      />
    </svg>
    <h6>Branding</h6>
  </div>
  <div class="one allign-correction two">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="16"
      width="18"
      viewBox="0 0 576 512"
    >
      <path
        d="M160 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h50.7L9.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L256 109.3V160c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H160zM576 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM448 208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM400 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm128 0a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM272 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM144 512a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM576 336a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm-48-80a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"
      />
    </svg>
    <h6>Marketing</h6>
  </div>
  <div class="one allign-correction three">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="16"
      width="16"
      viewBox="0 0 512 512"
    >
      <path
        d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
      />
    </svg>
    <h6>Research</h6>
  </div>

  <div class="one allign-correction four">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="16"
      width="12"
      viewBox="0 0 384 512"
    >
      <path
        d="M297.2 248.9C311.6 228.3 320 203.2 320 176c0-70.7-57.3-128-128-128S64 105.3 64 176c0 27.2 8.4 52.3 22.8 72.9c3.7 5.3 8.1 11.3 12.8 17.7l0 0c12.9 17.7 28.3 38.9 39.8 59.8c10.4 19 15.7 38.8 18.3 57.5H109c-2.2-12-5.9-23.7-11.8-34.5c-9.9-18-22.2-34.9-34.5-51.8l0 0 0 0c-5.2-7.1-10.4-14.2-15.4-21.4C27.6 247.9 16 213.3 16 176C16 78.8 94.8 0 192 0s176 78.8 176 176c0 37.3-11.6 71.9-31.4 100.3c-5 7.2-10.2 14.3-15.4 21.4l0 0 0 0c-12.3 16.8-24.6 33.7-34.5 51.8c-5.9 10.8-9.6 22.5-11.8 34.5H226.4c2.6-18.7 7.9-38.6 18.3-57.5c11.5-20.9 26.9-42.1 39.8-59.8l0 0 0 0 0 0c4.7-6.4 9-12.4 12.7-17.7zM192 128c-26.5 0-48 21.5-48 48c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-44.2 35.8-80 80-80c8.8 0 16 7.2 16 16s-7.2 16-16 16zm0 384c-44.2 0-80-35.8-80-80V416H272v16c0 44.2-35.8 80-80 80z"
      />
    </svg>
    <h6>creativity</h6>
  </div>
  <div class="one allign-correction five">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="16"
      width="16"
      viewBox="0 0 512 512"
    >
      <path
        d="M256 0c4.6 0 9.2 1 13.4 2.9L457.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.6 363.2c-16.7 8-36.1 8-52.8 0C57.3 420.7 16.5 239.2 16 140c-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.8 1 251.4 0 256 0z"
      />
    </svg>
    <h6>Security</h6>
  </div>
  <div class="one allign-correction six">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="16"
      width="16"
      viewBox="0 0 512 512"
    >
      <path
        d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"
      />
    </svg>
    <h6>Efficiency</h6>
  </div>
</div>

<!-- </div> -->
<!-- Facilities Start -->

<!-- About Start -->
<div class="container-fluid py-5">
  <div class="container-fluid top-space">
    <div class="row align-items-center">
      <div class="col-lg-3 space-img col-md-3 col-sm-4 col-xs-4">
        <img
          class="img-fluid new-padding mb-lg-0 img-sizer"
          src="../../../assets/About_image4.png"
          alt=""
        />
        <img
        class="img-fluid mb-lg-0 new-padding img-sizer mover"
        src="../../../assets/About_image2.png"
        alt=""
      />
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
        <img
        class="img-fluid new-padding  mb-lg-0 img-sizer"
        src="../../../assets/About_image3.png"
        alt=""
      />
      <img
      class="img-fluid new-padding mb-lg-0 img-sizer mover"
      src="../../../assets/About_image1.png"
      alt=""
    />
      </div>
      <div class="pl-5"></div>
      <div class="col-lg-5 col-md-4 col-sm-4 col-xs-4 top-space">
        <h3 class="mb-4 high-text">Our Service</h3>
        <p class="p-text-allign">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio sit
          nobis itaque nihil veritatis repellendus ex, ea, laboriosam tempora
          accusantium sapiente sequi illo blanditiis</p>
          <p class="p-text-allign"> enim nesciunt et totam.
          Dolorum nisi sequi ipsa aliquid sed mollitia quidem. Delectus omnis
          quasi veniam, laboriosam distinctio vel at minima labore amet itaque
          non sed harum nulla veritatis magni. Nesciunt voluptatum, quod
          voluptatibus qui quibusdam dolor ducimus 
        </p>

        <p class="p-text-allign pt-4">
          illo vel saepe error quia, quidem adipisci veniam. Cum tempore
          praesentium ut porro deserunt fugit maiores obcaecati ducimus,
          quisquam quos! Qui voluptatibus iure sapiente. Iusto adipisci aliquam
          amet magnam quidem aliquid nobis ducimus in assumenda aut deleniti
          alias praesentium eos repellat numquam optio
        </p>
        <div class="row pt-2 pb-4">
          <div class="col-6 col-md-4"></div>
          <div class="col-6 col-md-8"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- <div class="container-fluid pt-5">
  <div class="container pb-3 pt-4 main-container">
     <div class="row pt-4">
      <div class="col-lg-4 col-md-6 pb-1  ">
        <div
          class="d-flex  shadow-sm border-top rounded allign-correction gap-remover"
          style="padding: 50px"
        >

          <div class="allign-correction">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M480 32c0-12.9-7.8-24.6-19.8-29.6s-25.7-2.2-34.9 6.9L381.7 53c-48 48-113.1 75-181 75H192 160 64c-35.3 0-64 28.7-64 64v96c0 35.3 28.7 64 64 64l0 128c0 17.7 14.3 32 32 32h64c17.7 0 32-14.3 32-32V352l8.7 0c67.9 0 133 27 181 75l43.6 43.6c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V300.4c18.6-8.8 32-32.5 32-60.4s-13.4-51.6-32-60.4V32zm-64 76.7V240 371.3C357.2 317.8 280.5 288 200.7 288H192V192h8.7c79.8 0 156.5-29.8 215.3-83.3z"/></svg>
            <h5>Branding</h5>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex  shadow-sm border-top rounded allign-correction gap-remover"
          style="padding: 50px"
        >
          <div class="allign-correction">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><path d="M160 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h50.7L9.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L256 109.3V160c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H160zM576 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM448 208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM400 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm128 0a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM272 384a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48 80a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM144 512a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM576 336a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm-48-80a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
            <h5>Marketing</h5>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex shadow-sm border-top rounded mb-4 allign-correction gap-remover"
          style="padding: 50px"
        >
          <div class="allign-correction">
              <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
              <h5>Research</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex shadow-sm border-top rounded mb-4 allign-correction gap-remover"
          style="padding: 50px"
        >
          <div class="allign-correction">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><path d="M297.2 248.9C311.6 228.3 320 203.2 320 176c0-70.7-57.3-128-128-128S64 105.3 64 176c0 27.2 8.4 52.3 22.8 72.9c3.7 5.3 8.1 11.3 12.8 17.7l0 0c12.9 17.7 28.3 38.9 39.8 59.8c10.4 19 15.7 38.8 18.3 57.5H109c-2.2-12-5.9-23.7-11.8-34.5c-9.9-18-22.2-34.9-34.5-51.8l0 0 0 0c-5.2-7.1-10.4-14.2-15.4-21.4C27.6 247.9 16 213.3 16 176C16 78.8 94.8 0 192 0s176 78.8 176 176c0 37.3-11.6 71.9-31.4 100.3c-5 7.2-10.2 14.3-15.4 21.4l0 0 0 0c-12.3 16.8-24.6 33.7-34.5 51.8c-5.9 10.8-9.6 22.5-11.8 34.5H226.4c2.6-18.7 7.9-38.6 18.3-57.5c11.5-20.9 26.9-42.1 39.8-59.8l0 0 0 0 0 0c4.7-6.4 9-12.4 12.7-17.7zM192 128c-26.5 0-48 21.5-48 48c0 8.8-7.2 16-16 16s-16-7.2-16-16c0-44.2 35.8-80 80-80c8.8 0 16 7.2 16 16s-7.2 16-16 16zm0 384c-44.2 0-80-35.8-80-80V416H272v16c0 44.2-35.8 80-80 80z"/></svg>
            <h5>creativity</h5>
           
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex shadow-sm border-top rounded mb-4 allign-correction gap-remover"
          style="padding: 50px"
        >
          <div class="allign-correction">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M256 0c4.6 0 9.2 1 13.4 2.9L457.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.6 363.2c-16.7 8-36.1 8-52.8 0C57.3 420.7 16.5 239.2 16 140c-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.8 1 251.4 0 256 0z"/></svg>
            <h5>Security</h5>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div
          class="d-flex shadow-sm border-top rounded mb-4 allign-correction gap-remover"
          style="padding: 50px"
        >
          <div class="allign-correction">
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M256 0a256 256 0 1 1 0 512A256 256 0 1 1 256 0zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/></svg>
            <h5>Efficiency</h5>
           
          </div>
        </div>
      </div>
    </div>
  </div> -->
