<!-- Header Start -->
<div class="container-fluid img-fluid px-0 mb-5 my-container">
  <img src="../../../assets/about us_bg.png" class="img-responsive img-fluid img-header"/>

<div class="row align-do pad-tops">
  <div class="col-md-12 col-sm-12 text-center text-lg-lefts">
    <h1 class="display font-weight-bold text-white pb-3">
    Welcome To Our Blogs
    </h1>
    <p class="text-white mb-4 p-text">
      Sea ipsum kasd eirmod kasd magna, est sea et diam ipsum est amet sed
      sit....
    </p>

    <h6 class="mt-1 py-1 px-3 blog-text mb-3">Learn More
      <span><svg  style="  height: 20px; width: 20px" class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="  fill:#000000" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg></span>

    </h6> 
  </div>

</div>
    </div>
<!-- Header End -->

    <!-- Blog Start -->
    <div class="container-fluid pt-0 space-tab">
      <div class="container-fluid pt-0">
        <div class="text-center pb-2">
          
          <h2 class="mb-4">Latest Articles From Blog

          </h2>
        </div>
        <div class="container-fluid pt-3">


          <div class="row align-do card-design">
            <div class="col-lg-3 col-md-4 col-sm-5 col-12 design-card " [style.background-image]="'url(' + backgroundImageUrl + ')'">
      
                    <div class="content1">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit
                    </div>
                    <div class="btn-content">
                        <button class=""> <span class="span-text">Read Now</span>
                            <span><svg  style="  height: 20px; width: 20px" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="  fill:#232326" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg></span>
                          
                        </button>
                    </div>
                </div>



                <div class=" col-lg-3 col-md-4 col-sm-5 col-12 design-card " [style.background-image]="'url(' + backgroundImageUrl2 + ')'">

                  <div class="content1">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit
                  </div>
                  <div class="btn-content">
                      <button class=""> <span class="span-text">Read Now</span>
                          <span><svg  style="  height: 20px; width: 20px" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="  fill:#232326" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg></span>
                        
                      </button>
                  </div>
              </div>
              
              <div class=" col-lg-3 col-md-4 col-sm-5 col-12 design-card " [style.background-image]="'url(' + backgroundImageUrl3 + ')'">

                <div class="content1">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit
                </div>
                <div class="btn-content">
                    <button class=""> <span class="span-text">Read Now</span>
                        <span><svg  style="  height: 20px; width: 20px" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="  fill:#232326" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg></span>
                      
                    </button>
                </div>
            </div>

            <div class=" col-lg-3 col-md-4 col-sm-5 col-12 design-card " [style.background-image]="'url(' + backgroundImageUrl4 + ')'">

              <div class="content1">
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit
              </div>
              <div class="btn-content">
                  <button class=""> <span class="span-text">Read Now</span>
                      <span><svg  style="  height: 20px; width: 20px" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="  fill:#232326" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg></span>
                    
                  </button>
              </div>
          </div>

          <div class=" col-lg-3 col-md-4 col-sm-5 col-12 design-card " [style.background-image]="'url(' + backgroundImageUrl5 + ')'">

            <div class="content1">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit
            </div>
            <div class="btn-content">
                <button class=""> <span class="span-text">Read Now</span>
                    <span><svg  style="  height: 20px; width: 20px" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="  fill:#232326" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg></span>
                  
                </button>
            </div>
        </div>

        <div class=" col-lg-3 col-md-4 col-sm-5 col-12 design-card " [style.background-image]="'url(' + backgroundImageUrl6 + ')'">

          <div class="content1">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit
          </div>
          <div class="btn-content">
              <button class=""> <span class="span-text">Read Now</span>
                  <span><svg  style="  height: 20px; width: 20px" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25"><path style="  fill:#232326" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg></span>
                
              </button>
          </div>
      </div>




              


              
    
         </div>




<!-- Blogs -->


<!-- Blogs End -->



        </div>
      </div>
    </div>
      <!-- <div class="container ">

    <div class="row align-do list-page">
      <ul>
        <li *ngFor="let item of collection | paginate: { itemsPerPage: 6, currentPage: p }">{{ item }}</li>
      </ul>
  
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div> 
</div> -->
    <!-- Blog End -->




          <!-- <div class="col-lg-4 mb-4">
            <div class="card border-0 shadow-sm mb-2">
              <img class="card-img-top mb-2" src="../../../assets/img/blog-2.jpg" alt="" />
              <div class="card-body bg-light text-center p-4">
                <h4 class="">Diam amet eos at no eos</h4>
                <div class="d-flex justify-content-center mb-3">
                  <small class="mr-3"
                    ><i class="fa fa-user text-primary"></i> Admin</small
                  >
                  <small class="mr-3"
                    ><i class="fa fa-folder text-primary"></i> Web Design</small
                  >
                  <small class="mr-3"
                    ><i class="fa fa-comments text-primary"></i> 15</small
                  > 
                </div>
                <p>
                  Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                  eirmod, duo et sed sit eirmod kasd clita tempor dolor stet
                  lorem. Tempor ipsum justo amet stet...
                </p>
                <a href="" class="btn btn-primary px-4 mx-auto my-2"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card border-0 shadow-sm mb-2">
              <img class="card-img-top mb-2" src="../../../assets/img/blog-3.jpg" alt="" />
              <div class="card-body bg-light text-center p-4">
                <h4 class="">Diam amet eos at no eos</h4>
                <div class="d-flex justify-content-center mb-3">
                  <small class="mr-3"
                    ><i class="fa fa-user text-primary"></i> Admin</small
                  >
                  <small class="mr-3"
                    ><i class="fa fa-folder text-primary"></i> Web Design</small
                  >
                  <small class="mr-3"
                    ><i class="fa fa-comments text-primary"></i> 15</small
                  >
                </div>
                <p>
                  Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                  eirmod, duo et sed sit eirmod kasd clita tempor dolor stet
                  lorem. Tempor ipsum justo amet stet...
                </p>
                <a href="" class="btn btn-primary px-4 mx-auto my-2"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card border-0 shadow-sm mb-2">
              <img class="card-img-top mb-2" src="../../../assets/img/blog-1.jpg" alt="" />
              <div class="card-body bg-light text-center p-4">
                <h4 class="">Diam amet eos at no eos</h4>
                <div class="d-flex justify-content-center mb-3">
                  <small class="mr-3"
                    ><i class="fa fa-user text-primary"></i> Admin</small
                  >
                  <small class="mr-3"
                    ><i class="fa fa-folder text-primary"></i> Web Design</small
                  >
                  <small class="mr-3"
                    ><i class="fa fa-comments text-primary"></i> 15</small
                  >
                </div>
                <p>
                  Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                  eirmod, duo et sed sit eirmod kasd clita tempor dolor stet
                  lorem. Tempor ipsum justo amet stet...
                </p>
                <a href="" class="btn btn-primary px-4 mx-auto my-2"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card border-0 shadow-sm mb-2">
              <img class="card-img-top mb-2" src="../../../assets/img/blog-2.jpg" alt="" />
              <div class="card-body bg-light text-center p-4">
                <h4 class="">Diam amet eos at no eos</h4>
                <div class="d-flex justify-content-center mb-3">
                  <small class="mr-3"
                    ><i class="fa fa-user text-primary"></i> Admin</small
                  >
                  <small class="mr-3"
                    ><i class="fa fa-folder text-primary"></i> Web Design</small
                  >
                  <small class="mr-3"
                    ><i class="fa fa-comments text-primary"></i> 15</small
                  >
                </div>
                <p>
                  Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                  eirmod, duo et sed sit eirmod kasd clita tempor dolor stet
                  lorem. Tempor ipsum justo amet stet...
                </p>
                <a href="" class="btn btn-primary px-4 mx-auto my-2"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card border-0 shadow-sm mb-2">
              <img class="card-img-top mb-2" src="../../../assets/img/blog-3.jpg" alt="" />
              <div class="card-body bg-light text-center p-4">
                <h4 class="">Diam amet eos at no eos</h4>
                <div class="d-flex justify-content-center mb-3">
                  <small class="mr-3"
                    ><i class="fa fa-user text-primary"></i> Admin</small
                  >
                  <small class="mr-3"
                    ><i class="fa fa-folder text-primary"></i> Web Design</small
                  >
                  <small class="mr-3"
                    ><i class="fa fa-comments text-primary"></i> 15</small
                  >
                </div>
                <p>
                  Sed kasd sea sed at elitr sed ipsum justo, sit nonumy diam
                  eirmod, duo et sed sit eirmod kasd clita tempor dolor stet
                  lorem. Tempor ipsum justo amet stet...
                </p>
                <a href="" class="btn btn-primary px-4 mx-auto my-2"
                  >Read More</a
                >
              </div>
            </div>
          </div>-->
        
          
      

  



    
<!-- <pagination-controls class="float-right"></pagination-controls> -->

